html, body {
    background-color: #343a40;
}

body {
    font-family: Arial, serif;
    background-color: #343a40;
    color: navajowhite;
}

.description-demo-url {
    width: 100%;
    display: block;
}

#bgimg {

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    position: fixed;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.part {
    position: relative;
    width: 100%;
    min-height: 100%;
    border-bottom: 2px solid navajowhite;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#first-part {
    background: url('../../assets/first-part.jpg') no-repeat center center fixed;
}

#second-part {
    background: url('../../assets/second-part.jpg') no-repeat center center fixed;
}

#third-part {
    background: url('../../assets/third-part.jpg') no-repeat center center fixed;
}

.centered-people {
    align-content: center;
}

.centered-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.centered-text {
    text-align: center;
}

.people-tile {
    border-radius: 15px;
    background-color: #dddddd;
    color: #333;
    padding: 4px;
}

#logo {

}

#project-about {
    margin-top: 50px;
}

.project-tile {
    background-color: #333;
    border: 2px solid navajowhite;
    border-radius: 10px;
    height: 100%;
}

.tile-img {
    width: 100%;
    height: 100%;
    background-color: navajowhite;
}

.col-tile {
    margin-top: 50px;
}

.btn-tile {
    /*background-color: inherit;*/
    /*color: navajowhite;*/
    color: #333;
    border: 0;
    font-size: 20px;
    opacity: 0.5;
}

.btn-tile:hover {
    border: 1px solid navajowhite;
    font-size: 22px;
    background-color: #DEDEDE;
    opacity: 0.8;
}

#side-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 25%;
    z-index: 1;
}

.side-btn {
    width: 75px;
    height: 75px;
    display: block;
    font-size: xx-large;
    border: 2px solid rgba(50, 50, 50, 0.75);
    background-color: rgba(50, 50, 50, 0.75);
    color: navajowhite;
    margin: 10px 15px 10px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.side-btn:hover {
    width: 85px;
    height: 85px;
    margin: 0 5px 5px 0 !important;
    color: white;
    background-color: rgba(20, 20, 20, 1);
}

.side-btn-xs {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.side-btn-xs:hover {
    display: inline-block;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: -20px !important;
    width: 95px !important;
    height: 95px !important;
}

#main {
    margin-top: 100px;
}

#side-vertical {
    margin-top: -50%;
}

#logo-dummy {
    height: 200px;
    width: 100%;
}

#side-panel-xs {
    position: relative;
    padding-left: 50%;
}

#side-vertical-xs {
    margin-left: -50%;
}

.language-icon {
    width: 100%;
}

#about {
    margin-top: 40px;
    border-radius: 15px;
    background-color: #dddddd;
    color: #333;
    padding: 4px;
}

#about p {
    font-size: 18px;
}

#about h2 {
    font-size: 22px;
}

#people {
    margin-top: 40px;

}

#people h2 {
    font-size: 40px;
}

.connect-a {
    font-size: 34px;
    margin-right: 20px;
    color: #333333;
}

.connect-a:hover {
    color: white;
}