<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="res/css/main.css" rel="stylesheet" />
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular/angular-route.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/popper.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <title>Tila</title>
</head>
<body ng-app="TilaWebApp">
<div class="main" ng-controller="MainController">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-repeat="el in nav">
                    <a ng-click="changeTab($index)" class="nav-link {{el.selected}}" href="#!{{el.name}}">{{el.title[lang]}}</a>
                </li>
            </ul>
            <span class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle nav-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img ng-src="{{languages[lang].img}}" /> {{languages[lang].name}}<span class="caret"></span></a>
                <ul class="dropdown-menu navbar-dark bg-dark">
                    <li ng-repeat="el in languages"><button type="button" class="btn btn-link nav-a" ng-click="changeLanguage($index)"><img ng-src="{{el.img}}" /> {{el.name}}</button></li>
                </ul>
            </span>
        </div>
    </nav>
    <div class="container">

        <!--<a href="#!red">Red</a>-->
        <!--<a href="#!green">Green</a>-->
        <!--<a href="#!blue">Blue</a>-->
        <div ng-view></div>
    </div>

</div>

<script src="res/js/app.js"></script>
<script src="res/js/controllers/MainController.js"></script>

</body>
</html>
